/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .slider-height{
        min-height: 700px;
        background-color: #ccc;
    }
    .product-review-carousel-img {width: 375px; height: 375px;}
    .single-product-item {height: 80px; width: 80px;}

    /*  Header  */
    .header-bottom-left-wrap ul li ul {left: 182px;}
    /*  /Header  */  
    
    /*  Home service  */
    .service-icon-text {
        margin-left: 70px; 
        padding-top: 0;
        font-size: 13px;
    }
    .service-icon-text h5 {font-size: 13px;}
    .service-icon-img {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    /*  /Home service  */
    
    /*  Latest news  */
    .news-list-text p {height: 100px;}
    /*  /Latest news  */
    
    /*  Footer  */
    .subscribe-newsletter-text-area h4 {padding-top: 11px; font-size: 16px;}
    /*  /Footer  */

    /*  Vendor shop  */
    .vendor-product-details-carousel .owl-dots {bottom: -70px;}
    .vendor-product-details-carousel .owl-dots div {
        height: 64.6px;
        width: 98.6px;
    }
    .vendor-carousel {margin-bottom: 90px;}
    /*  /Vendor shop  */

    /*  Blog area  */
    .product-name {height: 37px;}
    .blog__description {height: 70px;}
    /*  /Blog area  */

    /*  Subscribe preloader area  */
    .subscribePreloader__thumb {width: 60%;}
    .subscribePreloader__text {width: 70%;}
    /*  /Subscribe preloader area  */

    .blog-comments-area.product .replay-btn {bottom: -25px;}
    
    .product-image-area {
        width: 292px;
        height: 292px;
    }
.category-wrap .product-image-area {
    width: 306px;
    height: 306px;
}
.post-sidebar-area {
    font-size: 12px;
    line-height: 1.3;
}
    }
    /* Tablet Layout: 768px. */
    @media only screen and (min-width: 768px) and (max-width: 991px) { 
    /*  Header  */
    .header-middle-mid-wrap a {padding-top: 5px;}
    .header-bottom-left-wrap > h5 {padding: 5px;}
    .header-menu-wrap ul {padding-top: 12px;}
    .header-menu-wrap li {
        margin-right: 10px;
        font-size: 13px;
    }
    .header-bottom-left-wrap {padding: 12px 0;}
    .header-bottom-left-wrap .fa-angle-down {top: 5px; right: 5px;}
    .header-search-box {margin-top: 6px;}
    .header-bottom-left-wrap li {padding: 0 5px;}
    .header-bottom-left-wrap ul {
        top: 49px; 
        padding: 5px;
        width: 180px;
    }
    .header-bottom-left-wrap ul li ul {
        left: 173px;
        top: 0;
        padding: 10px 5px;
        width: 180px;
    }
    .header-bottom-left-wrap ul li ul li ul {left: 174px;}
    .header-menu-wrap li ul {top: 35px;}
    .header-searched-item-list-wrap {top: 48px;}
    /*  /Header  */  
    
    /*  Home service  */
    .single-service-area {margin-bottom: 15px;}
    /*  /Home service  */
    
    /*  Footer  */
    .subscribe-newsletter-text-area h4 {font-size: 16px;}
    .subscribe-newsletter-text-area:before,
    .subscribe-newsletter-text-area:after {top: 2px;}
    /*  /Footer  */
    
    /*  Modal  */
    .product-review-details-img {margin-bottom: 15px;}
    /*  /Modal  */
    
    /*  Product details  */
    .tab-content {margin-top: 30px;}
    .product-review-carousel-img {width: 280px; height: 280px;}
    .single-product-item {height: 60px; width: 60px;}
    /*  /Product details  */
    
    /*  ViewCart area  */
    .table-product-review .fa-star {display: block;}
    .table-product-review .fa-star:before {right: 12px; top: -8px;}
    .table-product-review span {right: 16px; top: 10px;}
    /*  /ViewCart area  */

    /*  Vendor shop  */
    .vendor-product-details-carousel .owl-dots {bottom: -85px;}
    .vendor-product-details-carousel .owl-dots div {
        height: 76.8px;
        width: 115.8px;
    }
    /*  /Vendor shop  */

    /*  Blog area  */
    .col-lg-6.blog-text-col {padding-left: 15px;}
    .blog__text {margin-top: 6px;}
    /*  /Blog area  */

    /*  Subscribe preloader area  */
    .subscribePreloader__thumb {width: 70%;}
    .subscribePreloader__text {width: 80%;}
    /*  /Subscribe preloader area  */

    .blog-comments-area.product .replay-btn {bottom: -25px;}

    .productDetails-header-info {display: block;}
    .product-headerInfo__title {margin-bottom: 5px;}

    .product-contact-info-buttons a.btn-success {margin-bottom: 0;}
.product-image-area {
    height: 343px;
    width: 343px;
}
.category-wrap .product-image-area {
    width: 358px;
    height: 358px;
}

    }
    
    /* Mobile Layout: 320px. */
    @media only screen and (max-width: 767px) {
        #fb-root {
        	display: none;
        }
        .shopping-btn {
        	padding: 10px;
        }
        .update-shopping-btn {
        	padding: 10px;
        }
        .ratings span {
        	display: none;
        }
        .empty-stars::before, .full-stars::before {
            	font-size: 9pt;
            }
        .product-details-wrapper .productDetails-quantity span, .productDetails-quantity span {
        	display: inline-block;
        	width: 30px;
        	height: 30px;
        	line-height: 30px;
        	border: 1px #d9d9d9 solid;
        	text-align: center;
        	font-size: 12px;
        	color: #4c4c4c;
        	font-weight: 500;
        	margin-right: -5px;
        	position: relative;
        	margin-bottom: 0;
        }
        .cart-product-details p{
            font-size:12px;
        }
        .product-shoppingCart-wrapper .cart-img img{
            width:60px !important;
            height: 60px !important;
        }
        table h3 {
	font-size: 16px;
}
        .header-middle-right-wrap ul li a i {
	background-color: #ca0001;
	font-size: 21px;
}
    .title-overlay-wrap {padding: 50px 0;}
    .title-overlay-wrap h1 {font-size: 16px;}

    .header-searched-item-list-wrap {
        right: 20%;
        width: 560%;
        top: 65px;
        z-index: 99999;
    }
    li.myCart {display: none;}
    li.myCart1 {display: inline-block;}

    .section-title h2, h2 {font-size: 25px;}
    
    /*  Header  */
    .logo {height: auto;}
    .logo img {margin-top: 20px;}
    .header-menu-wrap {display: none;}
    .slicknav_menu {
        display: block; 
        background-color: transparent; 
        padding: 0;
    } 
    .header-search-box input {margin: 15px 0;}
    .header-top-right-wrap li.active,
    .header-search-box {display: none;}
    .header-top-left-wrap li a,
    .header-middle-right-wrap li a  {border: none;}
    .header-middle-right-wrap li.mobile-search {display: inline-block;}
    .header-middle-mid-wrap,
    .myCart span.myCartSpan {display: none;}
    .header-middle-right-wrap {padding-top: 0;}
    .header-offer-area {
        display: block;
        position: absolute;
        left: 20px;
        top: 12px;
        font-size: 12px;
        z-index: 99;
        width: 100%;
    }
    .header-middle-right-wrap li a { 
        padding: 0 5px; 
        color: #0163d2;
        font-weight: 700;
    }
    .header-middle-right-wrap li:last-child a { padding: 0 0 0 10px;}
    .cart-quantity {right: 0; top: -8px;}
    .header-top-right-wrap li a {padding: 0 12px;}

    .header-middle-right-wrap li a span {display: none;}
    /*  /Header  */    
    
    /*  home service  */
    .single-service-area {margin-bottom: 15px;}
    /*  /home service  */
    
    /*  image blog  */
    .image-blog-wrap .col-lg-4:nth-child(2) .single-image-blog-box, 
    .image-blog-wrap .col-lg-4:nth-child(3) .single-image-blog-box, 
    .image-blog-wrap .col-lg-4:nth-child(4) .single-image-blog-box {height: auto;}
    .image-blog-wrap .col-lg-4:first-child .single-image-blog-box {height: auto;}
    .image-blog-wrap .row {margin-left: -7.5px; margin-right: -7.5px;}
    .image-blog-wrap .row .col-xs-6,
    .image-blog-wrap .row .col-xs-12 {padding-left: 7.5px; padding-right: 7.5px;}
    .image-blog-wrap .col-lg-4:nth-child(2) .single-image-blog-box,
    .image-blog-wrap .col-lg-4:nth-child(3) .single-image-blog-box {
        margin-bottom: 13px;
    }
    /*  /image blog  */
    
    /*  product banner  */
    .product-banner-wrap .col-lg-6:first-child .single-banner-img{margin-bottom: 15px;}
    .product-review-carousel-img {
        width: 100%; 
        height: auto;
        margin: 0 auto;
    }
    .single-product-item {
        height: auto; 
        width: 100%;
        border: 5px solid #ffffff;
    }
    /*  /product banner  */
    
    /*  latest news  */
    .news-list-text p {height: 100px;}
    /*  /latest news  */
    
    /*  Featured product  */
    .featured-tag a {padding: 5px 8px;}
    .product-type-tab .nav-tabs>li {padding: 0 5px;}
    /*  /Featured product  */
    
    /*  Countdown  */
    .single-countdown-item {
        font-size: 20px;
        padding: 10px 3px;
    }
    .single-countdown-item span {font-size: 12px;}
    .countdown-wrap, .video-blog-wrap, 
    .review-carousel-wrap, .footer-top-wrap {padding: 60px 0;}
    /*  /Countdown  */
    
    /*  logo carousel  */
    .client-logo-wrap .section-title {padding-bottom: 5px;}
    /*  /logo carousel  */
    
    /*  Footer  */
    .subscribe-newsletter-text-area:before,
    .subscribe-newsletter-text-area:after {display: none;}
    .subscribe-newsletter-text-area h4 {
        font-size: 18px;
        padding-top: 0;
        margin-bottom: 15px;
    }
 .subscribe-form input, .subscribe-form button {padding-left: 10px;}
    .subscribe-form input {width: 75%;}
    .single-footer-wrap {margin-top: 30px;}
    .footer-social-links, .footer-copyright-area {text-align: center;}
    .footer-social-links {margin-top: 0px;}
    /*  /Footer  */
    
    /*  Modal  */
    .product-review-details-img {margin-bottom: 15px;}
    /*  /Modal  */
    
    /*  Blogs Details  */
    .social-sharing a {padding: 5px 6px 5px; margin-right: 5px;}
    .post-sidebar-area {font-size: 14px;}
    /*  /Blogs Details  */
    
    /*  Contact Us  */
    .contact-info {padding-left: 0;}
    p.contact-info {padding-left: 40px;}
    .contact-info.pt-100 {padding-top: 30px;}
    /*  /Contact Us  */
    
    /*  Product details  */
    .productDetails-header {margin-top: 30px;}
    /*  /Product details  */
    
    /*  ViewCart area  */
    .table-product-review span {right: 0;}
    .view-cart-title {margin-bottom: 30px;}
    /*  /ViewCart area  */

    /*  Vendor shop  */
    .vendor-single-product-details-item {height: 200px;}
    .vendor-product-details-carousel .owl-dots {bottom: -36px;}
    .vendor-product-details-carousel .owl-dots div {height: 29.1px; width: 44.1px;}
    .vendor-carousel {margin-bottom: 60px;}
    /*  /Vendor shop  */

    /*  Login area  */
    .login-social-btn-area {display: block;}
    .login-form .social-btn {width: 100%; margin-bottom: 15px;}
    .login-form .social-btn.last-child {margin-bottom: 0;}
    /*  /Login area  */

   /*  Blog area  */
    .col-lg-6.blog-text-col {padding-left: 15px;}
    .blog__text {margin-top: 6px;}
    /*  /Blog area  */

    /*  Subscribe preloader area  */
    .subscribePreloader__thumb {width: 90%;}
    .subscribePreloader__text {width: 90%; padding: 10px;}
    .subscribePreloader__text input,
    .subscribePreloader__text button {width: 100%;}
    .subscribePreloader__text input {margin-bottom: 10px;}
    /*  /Subscribe preloader area  */

    /*  Home--2 carousel  */
    .home-carousel-text {padding: 10px;}
    .homepage-carousel-area .owl-dots {right: 0;}
    .home-carousel-text h2 {font-size: 20px; line-height: 30px;}
    .home-carousel-text p {padding-right: 30%;}
    .mainmenu {padding: 10px; position: relative;}
    .mainmenu li.megamenu ul,
    .mainmenu li ul {
        width: 100%;
        left: 0;
        top: 50px;
    }

    .blog-comments-area.product .replay-btn {bottom: -25px;}

    .productDetails-header-info {display: block;}
    .product-headerInfo__title {margin-bottom: 5px;}
.single-product-area {
    max-width: 300px;
    margin: 30px auto;
}
#extraData .product-image-area {
	height: 100%;
	width: 100%;
}
.product-type-tab .section-title {
	padding: 10px 15px 0 15px;
	font-size: 31px;
	margin: 20px 0 0 0;
	text-transform: uppercase;
	font-family: 'Satisfy', cursive;
}
.product-image-area {
    height: 300px;
    width: 300px;
}
.category-wrap .product-image-area {
    height: 300px;
    width: 300px;
}

/*  New css  */
.header-top-left-wrap {display: none;}
.header-top-right-wrap {
	text-align: left;
	padding: 10px;
}
.header-middle-right-wrap {text-align: center !important;}
.header-top-right-wrap ul > li {width: 49%;}
.header-top-right-wrap ul > li.language {text-align: right;}
.header-top-right-wrap ul > li.language ul {right: 0; left: auto;}
.header-top-right-wrap li ul li {width: 100%;}
.header-top-right-wrap li a {padding: 0;}
.header-top-right-wrap li ul li a {padding-left: 10px;}
span.sell-btn {
    display: block;
    float: right;
    margin-top: 8px;
}
.logo a {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-middle-area {
	padding: 10px 0;
}

.logo img {width: 80%;}
.header-middle-right-wrap li a {padding: 0 10px;}
.header-middle-right-wrap li:first-child a {padding: 0 10px 0 0;}
.header-middle-right-wrap li.sell-btn {display: none;} 
.header-middle-right-wrap ul li a i {
    height: 30px;
    width: 30px;
    background: #0363D1;
    border-radius: 100%;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-right: 0;
}
    #bn1, #bn2, #bn3, #bn4 {
        height: auto;
    }    
    .login-social-btn-area {display: block;}
    .login-form .social-btn {width: 100%; margin-bottom: 15px;}
    .login-form .social-btn.last-child {margin-bottom: 0;}
        .login-tab .nav>li>a {
            font-size: 11px;
        }
.post-sidebar-area {
    font-size: 12px;
    line-height: 1.3;
}
.logo-wrapper > li{
    width: 50%;
}
.slider-height {
    min-height:auto;
}
    
.header-top-area {
	background: #050505;
	padding: 0;
}        
        
.slide-text h1 {
	width: 70%;
}        
.footer-top-wrap .row .col-lg-3.col-md-3.col-sm-6:nth-child(2) {
	display: none;
}
.footer-top-wrap .row .col-lg-3.col-md-3.col-sm-6:nth-child(3) {
	/*display: none;*/
}
.footer-top-wrap .row .col-lg-3.col-md-3.col-sm-6:last-child {
	text-align:center;
}
.home-service-wrapper > .container > .row .col-sm-6 {
	width: 50%;
	float: left;
}
.home-service-wrapper > .container > .row .col-sm-6 .service-icon-img {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.home-service-wrapper > .container > .row .col-sm-6  .service-icon-text {
	margin-left: 50px;
	padding-top: 0px;
}
.home-service-wrapper > .container > .row .col-sm-6  .service-icon-text p {
	margin-bottom: 5px;
	font-weight: 300;
	line-height: 1.2rem;
	font-size: 12px;
}
.home-service-wrapper > .container > .row .col-sm-6  .service-icon-text h5 {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 13px;
}
.image-blog-wrap {
	padding-top: 30px;
}
.footer-top-wrap .row .col-lg-3.col-md-3.col-sm-6:nth-child(2), .footer-top-wrap .row .col-lg-3.col-md-3.col-sm-6:nth-child(1) {
	display: none;
}

.video-blog-wrap {
	padding: 0px 0 !important;
	margin-top: 70px;
}
.video-header {
	position: relative;
	top: -50px;
	color: black;
}
.video-play-btn {
	border: none;
	border-radius: 100%;
	height: auto;
	width: auto;
}
.video-play-area {
	position: relative;
	top: -55px;
	margin-top: 92px !important;
}

.video-play-btn {
	border: none;
	border-radius: 100%;
	height: auto;
	width: auto;
}
.video-play-btn a {
	height: 62px;
	width: 62px;
	background: rgba(255,255,255,0.9);
	line-height: 58px;
	border: none;
}

.review-carousel-wrap .row {
	background: rgba(0,0,0,0.5);
	padding: 15px 0;
}
.product-name {
	padding: 0 9px;
}
.review-carousel-wrap.section-padding {
	padding: 0;
} 
.footer-top-wrap {
	background: #ca0001;
	background-image: none !important;
}
 .single-footer-wrap li {
	padding: 6px;
}       
        
    }
    
    
    /*--------------- Mobile CSS ends here --------------*/
    
    /* Wide Mobile Layout: 480px. */
    @media only screen and (min-width: 480px) and (max-width: 767px) { 
    /*  Footer  */
    .subscribe-form button {
        width: 37%;
        margin-left: -55px;
        font-size: 12px;
    }
    /*  /Footer  */
    }

    @media only screen and (max-width: 574px) {
        .header-search-box.mobile-search {
            display: block;
        }
        #trackForm1 {
            display: none;
        }
        #front-top-mail {
            display: none;
        }
        .home-service-wrapper {
            display: none;
        }
        .product-filter-option {
            display: none;
        }
        #trackForm1 {
            margin-bottom: 7px;
        }
        .header-top-area .header-middle-right-wrap ul li a i {
            background-color: #ca0001;
        }
    }
     @media only screen and (min-width: 767px) {
       .video-header h2 {
	color: black;
	position: relative;
	top: -125px;
}

    }
   
